absl-py
torch
numpy

ftfy
regex
tqdm
omegaconf
pytorch-lightning
einops
transformers

black==20.8b1
flake8
pre-commit
pylint

jupyter
jupyterlab
matplotlib

git+https://github.com/openai/CLIP.git
git+https://github.com/CompVis/taming-transformers
